// Put any @imports here
// See Readme for a list of supported ones

@import "foundation";
@import "font-awesome";

body {
  background: #e2ebf3;
}

.project{
  font-family : 'Lobster Two', cursive;
  // color:#00477B !important;
}

// li a{
//   font-family : 'Lobster Two', cursive !important;
// }

.add-form{
  width:400px;
  margin: 30px auto;
}

textarea{
  height :100px;
}

.collection{
  margin-left : 10px;
  margin-bottom : 10px;
  display:inline-block;
  position:relative;
  width :300px;
  height : 200px;
  overflow :hidden;
  padding:0;
  border :1px solid grey;
}
.collection img{
  height: 200px;
  width : 300px;

}
.show{
  position :absolute;
  top :70px;
  left : 100px;
  color : grey;
  opacity :0.7;
}

.center-this{
  font-size :15px;
  color:black;
  position : absolute;
  top :32px;
  left:32px;
}

.hidden{
  display :none;
  position :absolute;
  top :85px;
  left : 100px;
  color : grey;
  opacity :0.7;
}